  <!-- Page Content -->
  <div id="page-content-wrapper">
  <div class="container mx-auto w-50 py-1 px-1 mt-4">
    Topic: <input id="topicInput" type="text" name="Topic" placeholder="eg: Landscapes">
    <input class="topicSubmit" type="submit" value="Submit">

  </div>

    <div class="container mx-auto w-50 py-1 px-1 mt-4">
      {{#each topics}}

    <div class=" text-center my-3 py-2 px-2 border border-secondary content-post rounded">
      <p class="text-right font-italic mb-1"><h3><a class="topic-name" href="/api/posts/topics/{{id}}">{{topic}}</a></h3>  - created {{createdAt}}</p>
    </div>
      {{/each}}
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>